/**
 * Media Queries
 * ----------------------------------------------------------------------------
 */
@-ms-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

/*# sourceMappingURL=media.css.map */
