/* admin list_tables */

table{
    &.wp-list-table{
        th{
            &.column-id{
                width: 50px;
            }
            &.column-preview, &.column-logo{
                width: 80px;
                text-align: center;
            }
        }
    }
}
