/* globals */
.mt-0{
    margin-top: 0 !important;
}
.m-1em{
    margin: 1em;
}
.mtb-1em{
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
.mt-1em{
    margin-top: 1em !important;
}
.mb-1em{
    margin-bottom: 1em !important;
}
.ml-1em{
    margin-left: 1em !important;
}
.mr-1em{
    margin-right: 1em !important;
}
.d-ib{
    display: inline-block !important;
}
.full-w{
    width: 100% !important;
}
.ra-row{
    display: flex;
    //justify-content: space-between;
    align-items: flex-start;
    &.jc-sb{
        justify-content: space-between;
    }
    &.va-middle{
        align-items: center;
    }
}
.ra-col-1-2{
    width: 50%;
}
.ra-col-1-3{
    width: 33%;
}
.ra-col-1-4{
    width: 25%;
}
.ra-col-3-4{
    width: 75%;
}
.ra-col-1-5{
    width: 20%;
}
.ra-col-2-5{
    width: 40%;
}
.ra-col-3-5{
    width: 60%;
}
.ra-col-4-5{
    width: 80%;
}
.ra-select{
    cursor: pointer;
}
.ta-c{
    text-align: center;
}
.disabled, select:disabled{
    pointer-events: none;
    opacity: .7;
}
ul{
    &.ra-list{
        list-style: none;
        margin: 0;
        display: flex;
        li{}
    }
}