/* Overlay */
.preloader-overlay, .popup-overlay {
  display: none;
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
}
.preloader-overlay{
  &.in-relative-block {
    position: absolute; }
  &.visible {
    display: block; }
}

/* Preloader */
.preloader {
  display: inline-block;
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: 3px solid #135e96;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 950ms infinite linear;
  -o-animation: cssload-spin 950ms infinite linear;
  -ms-animation: cssload-spin 950ms infinite linear;
  -webkit-animation: cssload-spin 950ms infinite linear;
  -moz-animation: cssload-spin 950ms infinite linear; }

@keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }